#headercontainer{
	width: 95%;
	height: 10%;
	margin: 0 auto;
	background-color: #516591;
}

#desktoplogo{
	width: 99%;
	height: auto;
	background-image: inherit;
}

#mobilelogo{
	display: none;
}

header {
	background-color: #516591;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

header nav {
	float: right;
	margin-top: 8px;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

a:hover {
	color: sepia;
	font-size: 1.5em;
	font-weight: bold;
}	


body {
	background: #fff;
	color: #ff0000;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}



@media screen and (max-width: 500px) {

	header nav{
		float: none;
		text-align: center;
	}

	header nav a{
		display: block;
		text-align: center;
	}

	#mobilelogo{
		display: block;
		width: 99%;
		height: auto;
		background-image: inherit;
	}

	#desktoplogo{
		display: none;
	}

	
}
