#headercontainer{
	width: 95%;
	height: 10%;
	margin: 0 auto;
	background-color: #516591;
}

#desktoplogo{
	width: 99%;
	height: auto;
	background-image: inherit;
}

#mobilelogo{
	display: none;
}

header {
	background-color: #516591;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

header nav {
	float: right;
	margin-top: 8px;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin-left: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

iframe{
	display: block;
}

a:hover {
	font-size: 1.5em;
	font-weight: bold;
	transition: all 0.5s;
}	

li:hover {
	font-size: 1.25em;
	font-weight: bold;
	color: #98BAF9;
	text-transform: uppercase;
	padding: 1%;
	transition: all 0.5s;
}	

body {
	background: #fff;
	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.bloglist{
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	margin: 0 0 2% 2%;
	font-weight: bold;
}

p.blog{
margin-left: 4%;
margin-right: 4%;
}

input{
	display: block;
	margin: 2%;
	width: 30%;
}

input[type=text]:focus {
    border-color:#333;
}    

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

select{
	display: block;
	margin: 2%;
	width: 30%;
}

#findaboardbutton{
	margin: 2%;
	width: 10%;
	height: 5%;
	padding: 2%;
	background-color: #dcdcdc;
  	border: 1px solid #666;
  	color:#000;
  	border-radius: 10%;

}

@media screen and (max-width: 700px) {

	header nav{
		float: none;
		text-align: center;
	}

	header nav a{
		display: block;
		text-align: center;
	}

	a:hover {
	font-size: 1.5em;
	font-weight: bold;
	padding: 2%;
	}	

	#mobilelogo{
		display: block;
		width: 99%;
		height: auto;
		background-image: inherit;
	}

	#desktoplogo{
		display: none;
	}

	
}
